<html>
  <head>
    <%- include('../shared/head') %>
  </head>
  <body>
    <div class="container-fluid">
      <h1 class="display-2">Add new contact</h1>

      <a href="/" class="link-info">View Contacts</a>
      <!-- Errors -->
      <% if (typeof errors !== "undefined") {errors.forEach(error =>{ %>
      <div class="alert alert-dark alert-dismissible fade show" role="alert">
        <strong>Holy guacamole!</strong> <%=error.msg%>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      <% })} %>
      <!-- Form -->

      <form method="post" action="/add">
        <div class="mb-3">
          <label for="name" class="form-label"></label>
          <input type="text" class="form-control" name="name" />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label"></label>
          <input type="text" class="form-control" name="email" />
        </div>
        <button type="submit" class="btn btn-outline-primary">Add</button>
      </form>
      <%- include('../shared/footer') %>
    </div>
    <%- include('../shared/scripts') %>
  </body>
</html>
